
<% title="Songs By Sinatra" %>
<!doctype html>
<html lang="en">
<head>
  <title><%= @page_title || title %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1><%= title %></h1>
  <%=	 erb :nav %>
</header>
<section>
  <%= yield %>
</section>
</body>
</html>
