<label for="title">Title:</label>
<input type="text" id="title" name="song[title]" value="<%=@song.title%>">
<label for="length">Length:</label>
<input type="number" id="length" value="<%=@song.length%>" >
<label for="released_on">Date(mm/dd/yyyy):</label>
<input type="text" id="released_on" name="song[released_on]" value="<%=@song.released_on.strftime("%m/%d/%Y") if @song.released_on %>">
<label for="lyrics">Lyrics:</label>
<textarea name="song[lyrics]" id="lyrics" cols="30" rows="10"><%=	@song.lyrics  %></textarea>
<input type="submit" value="Save Song">